# Application PORT
PORT=3000

## local mongodb 
#DB_URL=mongodb://localhost:27017/<dbname>

## mongo Atlas
#DB_URL=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/<dbname>?retryWrites=true&w=majority